
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#headerSection{
    display: table;
    background-color: rgb(37, 76, 88);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    text-align: center;
}

h1{
    display: table-cell;
    vertical-align: middle;
    font-size: 43.5px;
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Segoe UI';
    font-weight: 100;
}

#textDiv{
    position: absolute;
    top: 10%;
    left: 65%;
    width: 35%;
    height: 90%;
    padding: 1%;
    font-size: 2.5vh;
}
